#about-showcase
    background: url(../images/site/building.jpg) no-repeat top center fixed
    position: relative
    background-size: cover
    overflow: hidden
    min-height: 300px   
    &::before
        @include overlay($lightgreen, 0.8, 100%)
    @media (max-width: 576px)
        background-size: 150% 100vh

#aboutImg
    width: 100%

#work
    padding: 6rem

img
    width: 100%