#showcase
  background: url(../images/site/showcase.jpg) no-repeat top center fixed
  background-size: 100% 100vh
  // min-height: 100vh
  position: relative
  color: #fff
  padding-top: 3rem
  font-size: 30px
  h1
    font-size: 40px
  p 
    display: none
  @media (max-width: 576px)
    background-size: 150% 100vh
    min-height: 100vh
  .home-search
    min-height: 60vh
    position: relative
    border-radius: 5px
  .overlay
    @include overlay(#333, 0.8, 400px)
    @media (max-width: 576px)
      top: 0
      left: 0
      width: 100%
    
#services 
  background: url(../images/site/building.jpg) no-repeat top center fixed
  background-size: 100% 
  min-height: 500px
  position: relative
  display: flex
  align-items: center
  overflow: hidden
  &::before 
    @include overlay($lightgreen, 0.8, 100%)
  @media (max-width: 991px)
    background: url(../images/site/building.jpg) no-repeat top center
    background-size: cover

  @media (max-width: 576px)
    background: url(../images/site/building.jpg) no-repeat top 
    background-size: cover
    &::before
      background-color: rgba(32, 134, 107, 0.6)
